{% extends 'core/base.html' %}

{% block content %}
    <h2 align="center"> {{ text }} </h2>
    <div class="container">
        <table class="table table-dark table-sm">
            <thead>
                <tr class="table-active">
                    <th scope="col">№</th>
                    <th scope="col">Фамилия и имя преподавателя</th>
                    <th scope="col">Кафедра</th>
                </tr>
              </thead>
              <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <th scope="col"> {{ forloop.counter }} </th>
                        <th scope="col">
                            <a href="{% url 'teacher' id=teacher.id %}">{{ teacher.first_name}} {{ teacher.last_name }}</a>
                        </th>
                        <th scope="col"> {{ teacher.department }} </th>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}
